/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;800;900&family=Poppins:wght@200;300;400;500;900&display=swap');

html {
    font-size: 1rem;
}

body {
    margin: 0rem;
    height: 100%;
    padding: 0rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: var(--surface-ground); */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-image{
    background-image:url('../public/images/img-18.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    height: 705px;
}

.text{
    display: block;
    width: 100%;
    padding: 15em 3em 17em 13em;
    position: relative;
    top:100px;
    right:150px;
}


/* TooltipDemo.css */

.blue-tooltip.p-tooltip .p-tooltip-arrow {
    border-top-color: var(--blue-500);
}
.blue-tooltip.p-tooltip .p-tooltip-text {
    background-color: var(--blue-500);
}
.green-tooltip.p-tooltip .p-tooltip-arrow {
    border-top-color: var(--green-500);
}
.green-tooltip.p-tooltip .p-tooltip-text {
    background-color: var(--green-500);
}
.yellow-tooltip.p-tooltip .p-tooltip-arrow {
    border-top-color: var(--yellow-500);
}
.yellow-tooltip.p-tooltip .p-tooltip-text {
    background-color: var(--yellow-500);
}
.cyan-tooltip.p-tooltip .p-tooltip-arrow {
    border-top-color: var(--cyan-500);
}
.cyan-tooltip.p-tooltip .p-tooltip-text {
    background-color: var(--cyan-500);
}
.pink-tooltip.p-tooltip .p-tooltip-arrow {
    border-top-color: var(--pink-500);
}
.pink-tooltip.p-tooltip .p-tooltip-text {
    background-color: var(--pink-500);
}
.indigo-tooltip.p-tooltip .p-tooltip-arrow {
    border-top-color: var(--indigo-500);
}
.indigo-tooltip.p-tooltip .p-tooltip-text {
    background-color: var(--indigo-500);
}
.teal-tooltip.p-tooltip .p-tooltip-arrow {
    border-top-color: var(--teal-500);
}
.teal-tooltip.p-tooltip .p-tooltip-text {
    background-color: var(--teal-500);
}
.bluegray-tooltip.p-tooltip .p-tooltip-arrow {
    border-top-color: var(--bluegray-500);
}
.bluegray-tooltip.p-tooltip .p-tooltip-text {
    background-color: var(--bluegray-500);
}
.purple-tooltip.p-tooltip .p-tooltip-arrow {
    border-top-color: var(--purple-500);
}
.purple-tooltip.p-tooltip .p-tooltip-text {
    background-color: var(--purple-500);
}

