/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;800;900&family=Poppins:wght@200;300;400;500;900&display=swap');

html {
    font-size: 1rem;
}

body {
    margin: 0rem;
    height: 100%;
    padding: 0rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: var(--surface-ground); */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-image{
    background-image:url('../public/images/img-18.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    height: 705px;
}

.text{
    display: block;
    width: 100%;
    padding: 15em 3em 17em 13em;
    position: relative;
    top:100px;
    right:150px;
}
